<<<<<<< HEAD

=======
>>>>>>> 38e9cfdc81a93457fc8efc05b61fd9333e011cb0
<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container my-4">
        <h3 class="mb-4">Add a Recipe</h3>

        <form action="/addRecipe" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Recipe Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients:</label>
                <textarea class="form-control" id="ingredients" name="ingredients" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions:</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="5" required></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Recipe Image:</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

<<<<<<< HEAD
<%- include ('../partials/footer') %>

=======
<%- include ('../partials/footer') %>
>>>>>>> 38e9cfdc81a93457fc8efc05b61fd9333e011cb0
